body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px); /* Adjust to leave space for footer */
}

.card {
  background: white;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 90%;
  margin: 20px;
}

.maintenance-img {
  width: 100px;
  height: auto;
  margin-bottom: 1em;
}

h1 {
  margin-top: 0;
  color: #333;
}

p {
  color: #777;
}

/* button css */
button {
  position: relative;
  margin: 0;
  padding: 0.5em 0.5em;
  outline: none;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: #8a8989;
  border-radius: 10px;
  color: #ffffff; /* Change text color to white */
  font-weight: 300;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover {
  animation: sh0 0.5s ease-in-out both;
}

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

button::before,
button::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

button:hover::before,
button:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

button:hover::after {
  transform: translate(50%, 0) scale(1.1);
}

/* Remove default link styles */
button a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end of button css */

/* FOOTER */
footer {
  width: 100%;
  text-align: center;
  padding: 1em 0;
  background-color: #8a8989;
  color: white;
  position: absolute;
  bottom: 0;
}

footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
footer p {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-top: 5px;
}
footer a:hover {
  text-decoration: underline;
}
/* END OF FOOTER */

/* Responsive Styles */
@media (max-width: 600px) {
  .card {
    padding: 1.5em;
  }

  .maintenance-img {
    width: 80px;
  }

  .redirect-btn {
    padding: 0.5em 0.8em;
    font-size: 0.9em;
  }
}
